body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(140, 169, 198);
  overflow: hidden;
}

input {
  border: solid 2px rgb(86, 86, 86);
  border-radius: 10px;
  height: 3rem;
  width: 300px;
}

button {
  border: solid 2px rgb(86, 86, 86);
  border-radius: 10px;
  height: 2rem;
  width: 150px;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.bg {
  margin: 10%;
}

#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: minmax(40%, 400px);
  width: minmax(60%, 400px);
  border: solid 2px rgb(86, 86, 86);
  border-radius: 15px;
  background-color: rgb(159, 194, 128);
  transition: 500ms ease-out;
}

.dialogForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  place-items: center;
}

.message {
  color: rgb(139, 88, 137);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#success.show::backdrop {
  background: rgba(0, 0, 0, 0.5);
  animation: backdrop1 500ms ease-out;
}

#success.hide::backdrop {
  background-color: rgba(0, 0, 0, 0);
  animation: backdrop2 500ms ease-out;
}

@keyframes backdrop1 {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes backdrop2 {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}