body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(140, 169, 198);
  overflow: hidden;
}

input {
  border: solid 2px rgb(86, 86, 86);
  border-radius: 10px;
  height: 3rem;
  width: 300px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  padding: 0px 10px;
}

button {
  border: solid 2px rgb(86, 86, 86);
  border-radius: 10px;
  height: 3rem;
  width: 150px;
  margin-top: 2rem;
  background-color: rgb(159, 194, 128);
  color: rgb(86, 86, 86);
  font-size: 1rem;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 300ms ease-in;
}

button:hover {
  background-color: rgb(202, 243, 166);
  color: rgb(43, 43, 43);
}

button:disabled {
  background-color: rgb(139, 166, 115);
  color: rgb(141, 141, 141);
  border-color: rgb(141, 141, 141);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.bg {
  margin: 10%;
}

.dialogForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  place-items: center;
}

.message {
  color: rgb(139, 88, 137);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#dismissButton {
  background-color: rgb(139, 88, 137);
  color: rgb(199, 199, 199);
}

#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: minmax(40%, 400px);
  width: minmax(60%, 400px);
  border: solid 2px rgb(86, 86, 86);
  border-radius: 15px;
  background-color: rgb(159, 194, 128);
  transition: 500ms ease-out;
}

#success.show::backdrop {
  background: rgba(0, 0, 0, 0.5);
  animation: backdropIn 500ms ease-out;
}

#success.hide::backdrop {
  background-color: rgba(0, 0, 0, 0);
  animation: backdropOut 500ms ease-out;
}

@keyframes backdropIn {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes backdropOut {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
